{:deps
 {hicada/hicada {:mvn/version "0.1.8"}}
 :paths ["src"]
 :aliases
 {:dev
  {:extra-paths ["examples" "target"]
   :extra-deps
   {com.bhauman/figwheel-main {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}

    cljsjs/react {:mvn/version "16.13.0-0"}
    cljsjs/react-dom {:mvn/version "16.13.0-0"}

    funcool/lentes {:mvn/version "1.2.0"}
    org.clojure/clojurescript {:mvn/version "1.10.520"}
    org.clojure/clojure {:mvn/version "1.10.1"}}}
  :repl
  {:main-opts  ["-m" "rebel-readline.main"]}

  :ancient
  {:main-opts ["-m" "deps-ancient.deps-ancient"],
   :extra-deps {deps-ancient/deps-ancient {:mvn/version "RELEASE"}}}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
   :main-opts ["-m" "hf.depstar.jar", "target/rumext.jar"]}}}
