{:deps
 {hicada/hicada {:mvn/version "0.1.8"}}
 :paths ["src"]
 :aliases
 {:dev
  {:extra-paths ["examples" "target"]
   :extra-deps
   {
    ;; com.bhauman/figwheel-main {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}

    thheller/shadow-cljs {:mvn/version "2.11.4"}
    funcool/okulary {:mvn/version "2020.04.14-0"}
    org.clojure/clojurescript {:mvn/version "1.10.773"}
    org.clojure/clojure {:mvn/version "1.10.1"}
    olical/depot {:mvn/version "RELEASE"}}}

  :repl
  {:main-opts  ["-m" "rebel-readline.main"]}

  :outdated
  {:main-opts ["-m" "depot.outdated.main"]}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
   :main-opts ["-m" "hf.depstar.jar", "target/rumext.jar"]}}}
