{:deps
 {hicada/hicada {:mvn/version "0.1.9"}}
 :paths ["src"]
 :aliases
 {:dev
  {:extra-paths ["examples" "target" "test"]
   :extra-deps
   {com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    funcool/okulary {:mvn/version "RELEASE"}
    thheller/shadow-cljs {:mvn/version "RELEASE"}
    org.clojure/tools.namespace {:mvn/version "RELEASE"}
    org.clojure/test.check {:mvn/version "RELEASE"}
    ;; org.clojure/tools.deps.alpha {:mvn/version "RELEASE"}
    org.clojure/clojure {:mvn/version "1.10.3"}
    }}

  :shadow-cljs
  {:main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :repl
  {:main-opts  ["-m" "rebel-readline.main"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :build
  {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
   :ns-default build}}}
