{:deps {:aliases [:dev]}
 :dev-http {9500 "classpath:public"}

 :builds
 {:examples
  {:target :browser
   :output-dir "target/public/js"
   :asset-path "/js"
   :modules {:main {:entries [rumext.examples.core]}}
   :compiler-options {:output-feature-set :es8}
   :release {:compiler-options {:pseudo-names true
                                :pretty-print true}}

   }}}
