{:deps {:aliases [:dev]}
 :dev-http {9500 ["public" "classpath:public"]}

 :builds
 {:examples
  {:target :browser
   :output-dir "target/public/js"
   :asset-path "/js"
   :modules {:main {:entries [rumext.examples.core]}}
   :compiler-options {:output-feature-set :es-next}

   :js-options
   {:entry-keys ["module" "browser" "main"]
    :export-conditions ["module" "import", "browser" "require" "default"]}

   :release
   {:compiler-options
    {:pseudo-names false
     :pretty-print true}}

   }}}
